.loading-spinner {
  position: relative;
}

.loading-spinner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-spinner-bar {
  -webkit-animation: loading-spin 1.2s linear infinite;
  -moz-animation: loading-spin 1.2s linear infinite;
  -ms-animation: loading-spin 1.2s linear infinite;
  -o-animation: loading-spin 1.2s linear infinite;
  animation: loading-spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}

@keyframes "loading-spin" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
    opacity: 0.15;
 }

}

@-moz-keyframes loading-spin {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=15);
   opacity: 0.15;
 }

}

@-webkit-keyframes "loading-spin" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=15);
   opacity: 0.15;
 }

}

@-ms-keyframes "loading-spin" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
   filter: alpha(opacity=15);
   opacity: 0.15;
 }

}

@-o-keyframes "loading-spin" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=15);
   opacity: 0.15;
 }

}
