.loading-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.loading-spinner-bar {
  -webkit-animation: loading-spin 1.2s linear infinite;
  -moz-animation: loading-spin 1.2s linear infinite;
  animation: loading-spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 6.5px;
  height: 2.5px;
  top: -1.25px;
  left: -3.25px;
}

@keyframes "loading-spin" {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes loading-spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes "loading-spin" {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
